---
- name: Dock - Check the current Dock position of {{ item.name | default(item) }}"
  ansible.builtin.command:
    cmd: dockutil --find '{{ item.name | default(item) }}'
  register: dock_item_position
  failed_when: '"command not found" in dock_item_position.stdout'
  changed_when: false
  tags: ["dock"]

- name: Dock - Debug dock item position output
  ansible.builtin.debug:
    msg: "Dock item position output: {{ dock_item_position.stdout }}"
  tags: ["dock"]

- name: Dock - Get current dock item position from output
  set_fact:
    dock_current_position: "{{ dock_item_position.stdout | regex_replace('^.*slot (.*) in.*$', '\\1') }}"
  when: dock_item_position.rc == 0 and dock_item_position.stdout is search('slot')
  tags: ["dock"]

- name: Dock - Debug current position
  ansible.builtin.debug:
    msg: "Current position: {{ dock_current_position | default('not found') }}, Target position: {{ item.pos }}"
  tags: ["dock"]

- name: Dock - Move dock item to the correct position
  ansible.builtin.command:
    cmd: dockutil --move '{{ item.name | default(item) }}' --position '{{ item.pos }}'
  when:
    - dock_item_position.rc == 0
    - dock_item_position.stdout is search('slot')
    - dock_current_position is defined
    - dock_current_position|int != item.pos|int
  tags: ["dock"]
