---
- name: "Dock - Check if application exists at path {{ item.name | default(item) }}"
  ansible.builtin.stat:
    path: "{{ item.path }}"
  register: dock_app_exists
  tags: ["dock"]

- name: "Dock - Check if item exists {{ item.name | default(item) }}"
  ansible.builtin.command: "dockutil --find '{{ item.name }}'"
  register: dock_item_exists
  failed_when: >
    "No such file or directory" in dock_item_exists.stdout
    or "command not found" in dock_item_exists.stdout
  changed_when: false
  tags: ["dock"]

- name: Dock - Add item {{ item.name | default(item) }}
  ansible.builtin.command: "dockutil --add '{{ item.path }}'"
  when:
    - dock_app_exists.stat.exists
    - dock_item_exists.rc > 0
  tags: ["dock"]

- name: Dock - Debug skipped item
  ansible.builtin.debug:
    msg: "Dock - Skipping {{ item.name | default(item) }} - application not found at {{ item.path }}"
  when: not dock_app_exists.stat.exists
  tags: ["dock"]
