- name: SSH - Creates .ssh directory
  ansible.builtin.file:
    path: "~/.ssh"
    state: directory
    mode: "0755"

- name: SSH - Find all private keys
  ansible.builtin.find:
    paths: "./secrets/ssh"
    file_type: file
    patterns: "*"
    excludes: "*.pub"
  register: found_files

- name: SSH - Copy public keys to .ssh directory
  ansible.builtin.copy:
    dest: "~/.ssh/{{ item.path | ansible.builtin.basename }}"
    content: |
      {{ lookup('ansible.builtin.unvault', 'secrets/ssh/' ~ item.path | ansible.builtin.basename) }}
    mode: "0600"
  loop: "{{ found_files.files }}"
  loop_control:
    label: "{{ item.path | ansible.builtin.basename }}"

- name: SSH - Find all public keys
  ansible.builtin.find:
    paths: "./secrets/ssh"
    file_type: file
    patterns: "*.pub"
  register: found_files

- name: SSH - Copy public keys to .ssh directory
  ansible.builtin.copy:
    dest: "~/.ssh/{{ item.path | ansible.builtin.basename }}"
    content: |
      {{ lookup('ansible.builtin.unvault', 'secrets/ssh/' ~ item.path | ansible.builtin.basename) }}
    mode: "0644"
  loop: "{{ found_files.files }}"
  loop_control:
    label: "{{ item.path | ansible.builtin.basename }}"

- name: SSH - Find all config templates
  ansible.builtin.find:
    paths: "roles/ssh/templates"
    file_type: file
    patterns: "*.j2"
  register: found_files

- name: SSH - Create config files
  ansible.builtin.template:
    src: "{{ item.path | ansible.builtin.basename }}"
    dest: "{{ ansible_facts['env']['HOME'] }}/.ssh/{{ item.path | ansible.builtin.basename | replace('.j2', '') }}"
    owner: "{{ ansible_facts['env']['USER'] }}"
  loop: "{{ found_files.files }}"
  loop_control:
    label: "{{ item.path | ansible.builtin.basename | replace('.j2', '') }}"
