- name: SSH - Creates .ssh directory
  ansible.builtin.file:
    path: "~/.ssh"
    state: directory
    mode: "0755"

- name: SSH - Create files
  ansible.builtin.include_tasks: ssh.yml
  loop: "{{ ssh_keys }}"

- name: SSH - Create config files
  ansible.builtin.template:
    src: "{{ item.template }}"
    dest: "{{ ansible_facts['env']['HOME'] }}/.ssh/{{ item.dest }}"
    owner: "{{ ansible_facts['env']['USER'] }}"
  loop: "{{ ssh_configs }}"

- name: SSH - Known hosts
  ansible.builtin.copy:
    dest: "{{ ansible_facts['env']['HOME'] }}/.ssh/known_hosts"
    content: |
      {{ lookup('ansible.builtin.unvault', 'secrets/ssh/known_hosts') }}
    mode: "0644"
    owner: "{{ ansible_facts['env']['USER'] }}"
