---
- name: Java - Check if SDKMAN is installed
  ansible.builtin.shell:
    cmd: source "{{ ansible_facts['env']['HOME'] }}/.sdkman/bin/sdkman-init.sh" && sdk version
  register: java_sdkman_version
  changed_when: false
  tags: ["java"]

- name: Java - Install SDKMAN
  ansible.builtin.get_url:
    cmd: curl -s "https://get.sdkman.io" | bash
    creates: "{{ ansible_facts['env']['HOME'] }}/.sdkman"
  when: not java_sdkman_version.rc == 0
  tags: ["java"]

- name: Java - Install Java
  ansible.builtin.shell:
    cmd: source "{{ ansible_facts['env']['HOME'] }}/.sdkman/bin/sdkman-init.sh" && sdk install java {{ java_jdk_version }}
  when: java_jdk_version is defined and not java_sdkman_version.rc == 0
  tags: ["java"]

- name: Java - Install Maven
  ansible.builtin.shell:
    cmd: source "{{ ansible_facts['env']['HOME'] }}/.sdkman/bin/sdkman-init.sh" && sdk install maven {{ java_mvn_version }}
  when: java_mvn_version is defined and not java_sdkman_version.rc == 0
  tags: ["java"]

- name: Java - Set Java default
  ansible.builtin.shell:
    cmd: source "{{ ansible_facts['env']['HOME'] }}/.sdkman/bin/sdkman-init.sh" && sdk default java {{ java_jdk_version }}
  when: java_jdk_version is defined and not java_sdkman_version.rc == 0
  tags: ["java"]

- name: Java - Set Maven default
  ansible.builtin.shell:
    cmd: source "{{ ansible_facts['env']['HOME'] }}/.sdkman/bin/sdkman-init.sh" && sdk default maven {{ java_mvn_version }}
  when: java_mvn_version is defined and not java_sdkman_version.rc == 0
  tags: ["java"]

- name: Java - Copy Maven settings.xml
  ansible.builtin.copy:
    dest: "{{ ansible_facts['env']['HOME'] }}/.m2/settings.xml"
    content: |
      {{ lookup('ansible.builtin.unvault', 'secrets/m2/settings.xml') }}
    mode: "0644"
    owner: "{{ ansible_facts['env']['USER'] }}"
  when: not java_sdkman_version.rc == 0
  tags: ["java"]
