- name: "General: Set timezone to America/Sao_Paulo (current value)"
  become: true
  ansible.builtin.command:
    cmd: systemsetup -gettimezone
  register: general_timezone
  changed_when: false
  ignore_errors: true
  no_log: true

- name: "General: Set timezone to America/Sao_Paulo"
  become: true
  ansible.builtin.command:
    cmd: systemsetup -settimezone "America/Sao_Paulo" > /dev/null
  when: "'America/Sao_Paulo' not in general_timezone.stdout"

- name: "General: Always show scroll bars"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: AppleShowScrollBars
    type: string
    value: Always

- name: "General: User dark theme"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: AppleInterfaceStyle
    type: string
    value: Dark

- name: "General: Disable the Are you sure you want to open this application?"
  community.general.osx_defaults:
    domain: com.apple.LaunchServices
    key: LSQuarantine
    type: bool
    value: false

- name: "Desktop: Config hide items"
  community.general.osx_defaults:
    domain: com.apple.WindowManager
    key: "{{ item.key }}"
    type: int
    value: "{{ item.value }}"
  with_items:
    - key: EnableStandardClickToShowDesktop
      value: 0
    - key: HideDesktop
      value: 1
    - key: StageManagerHideWidgets
      value: 1
    - key: StandardHideDesktopIcons
      value: 1
    - key: StandardHideWidgets
      value: 1

- name: "Dock: Disable hot corner bottom right"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: wvous-br-corner
    type: int
    value: 0
  notify: Restart Dock

- name: "Dock: Remove show recents"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: show-recents
    type: bool
    value: false
  notify: Restart Dock

- name: "Dock: Set right position"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: orientation
    type: string
    value: right
  notify: Restart Dock

- name: "Dock: Set auto hide"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: autohide
    type: bool
    value: true
  notify: Restart Dock

- name: "Dock: Set the icon size of items to 36 pixels"
  community.general.osx_defaults:
    domain: com.apple.dock
    key: tilesize
    type: int
    value: 36
  notify: Restart Dock

- name: "Finder: Show all extensions"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: AppleShowAllExtensions
    type: bool
    value: true
  notify: Restart Finder

- name: "Finder: Show hidden files"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: AppleShowAllFiles
    type: bool
    value: true
  notify: Restart Finder

- name: "Finder: Show sidebar bar"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: ShowSidebar
    type: int
    value: 1
  notify: Restart Finder

- name: "Finder: Show status bar"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: ShowStatusBar
    type: int
    value: 1
  notify: Restart Finder

- name: "Finder: Show path bar"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: ShowPathbar
    type: int
    value: 1
  notify: Restart Finder

- name: "Finder: Default list view"
  community.general.osx_defaults:
    domain: com.apple.finder
    key: FXPreferredViewStyle
    type: string
    value: "Nlsv"
  notify: Restart Finder

- name: "Trackpad: Disable natural scroll direction"
  community.general.osx_defaults:
    domain: NSGlobalDomain
    key: com.apple.swipescrolldirection
    type: bool
    value: false

- name: "Trackpad: Enable tap to click"
  community.general.osx_defaults:
    domain: "{{ item.domain }}"
    host: "{{ item.host|default(omit) }}"
    key: "{{ item.key }}"
    type: "{{ item.type }}"
    value: "{{ item.value }}"
  with_items:
    - host: currentHost
      domain: NSGlobalDomain
      key: com.apple.mouse.tapBehavior
      type: int
      value: 1
    - domain: NSGlobalDomain
      key: com.apple.mouse.tapBehavior
      type: int
      value: 1
    - domain: com.apple.driver.AppleBluetoothMultitouch.trackpad
      key: Clicking
      type: int
      value: 1
    - domain: com.apple.AppleMultitouchTrackpad
      key: Clicking
      type: int
      value: 1

- name: "Keyboard: Blazing fast repeat rate"
  community.general.osx_defaults:
    domain: "{{ item.domain|default(omit) }}"
    key: "{{ item.key }}"
    type: "{{ item.type }}"
    value: "{{ item.value }}"
  with_items:
    - domain: NSGlobalDomain
      key: KeyRepeat
      type: int
      value: 1
    - domain: NSGlobalDomain
      key: InitialKeyRepeat
      type: int
      value: 8

- name: "Spotlight: Check shortcut"
  ansible.builtin.shell:
    cmd: |
      defaults read com.apple.symbolichotkeys AppleSymbolicHotKeys | grep -A1 " 64 = " | grep "enabled = 0"
  ignore_errors: true
  register: spotlight_shortcut
  changed_when: false

- name: "Spotlight: Disable shortcut"
  ansible.builtin.command:
    cmd: |
      defaults write com.apple.symbolichotkeys AppleSymbolicHotKeys -dict-add 64 '<dict><key>enabled</key><false/><key>parameters</key><array><integer>32</integer><integer>49</integer><integer>1048576</integer></array><key>type</key><string>standard</string></dict>'
  when: spotlight_shortcut.rc == 1
